<div id="ContactDiv">
    <h3>Contact Us</h3>
<h6>If you have a complaint, advice, critical judgment, please don't hesitate to contact us</h6>
<bR>
<div id="SocialImages">
    <img src="/assets/SocialMedia/facebook.png"/>
    <img src="/assets/SocialMedia/instagram.png"/>
    <img src="/assets/SocialMedia/gmail.png"/>
    <img src="/assets/SocialMedia/linkedin.png"/>
    <img src="/assets/SocialMedia/snapchat.png"/>
    <img src="/assets/SocialMedia/twitter.png"/>

</div>
<br><br>
<input id="input-id" type="text" class="rating" data-size="lg" >
</div>