<div id="AboutDiv">

   
<div id="AboutBody">
    <div class="Block">
        <img src="/assets/AboutUs/user.png" />
 <div class="InnerBlock">
        <span>About Us</span>
      <p>
        We are a backup system specialized organization, manage all types of files, documents, PDF and others.
        Since the cloud storage is the most popular aspect of the IT indutry, we are obligated to
         provide a safe, secure, speedy and optimal cloud services.
      </p></div>
    </div>
    <div class="Block">       
        <img src="/assets/AboutUs/gamer.png" />

        <div class="InnerBlock">
          <span>Development</span>  <p> 
       
         
         Technicalwise, we use MEAN stack tools to develop, maintain, optimize our app in order to deliver a timely manner services to our clients.
         Such as, Angular 9, NodeJS, ExpresJS, MongoDB and Mongoose.
         In regards of our backup services, we use a trusted, confidential and recoverable third party APIs.
         This app was develped by the Software Engineer, Ahmad Awad.<br>
         <b>ahmad.awad.business@gmail.com</b>
    </p></div>
    </div>
    <div class="Block">     
           <img src="/assets/AboutUs/group.png" />

        <div class="InnerBlock"> 
           
         <span>Target Audience</span>
         <p>
           Our clients mainly are the companies which handles a lot of files and need to be organized.
           Also, we provide an easy plans for the individuals.
        </p>
    
    </div>
</div>
    <div class="Block">     
        <img src="/assets/AboutUs/vision.png" />

     <div class="InnerBlock"> 
        
      <span>Company Vision</span>
      <p>
        We aim to scale our solution into a world wide service, in order to serve a millions of users to help with their private data and files. 
     
    
     </p>
 
 </div>
</div>

    </div>
    <div id="RightDiv">
    <img  src="/assets/AboutUs/c.jpg" /><bR>
     
</div>
</div>